.gallary img{
    
    width: 70%;
    height: 20%px;
    background-color: ;background: 
    padding-top: 
    
}
#menu a{
    
    color:aquamarine;
    font-family: ;flex-basis: auto;
    font-size: 18px;
    text-decoration:overlinedefault 
    font-weight: 100%;
    
    
    padding-left:
    padding-right:
    
    
}

#menu a:{
    
    color:aquamarine;
}